--
-- PostgreSQL database cluster dump
--

\restrict wQI9gy73TMOqbRkc1eAABUNVzHrXHXpoE2R6JsabciIaUgWdeJlHPN3fVYqTaPn

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE microservice3_db;




--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:IHKQOKb6b0fOiEyG5OByaw==$S9g8vt9mh4pod3aaG6/Nm6cKOJA6TnzODL0uBTPkdTA=:1NiLz1eDrf9pk0006+/vNoZxhVsNlBiA60biIXZ0w2I=';

--
-- User Configurations
--








\unrestrict wQI9gy73TMOqbRkc1eAABUNVzHrXHXpoE2R6JsabciIaUgWdeJlHPN3fVYqTaPn

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict dgo3hLJfHxul88MrKcWb62OqCt7hQLewURdDneqpJpkcpHRFfS9wmYrA8x69e7V

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\unrestrict dgo3hLJfHxul88MrKcWb62OqCt7hQLewURdDneqpJpkcpHRFfS9wmYrA8x69e7V
\connect template1
\restrict dgo3hLJfHxul88MrKcWb62OqCt7hQLewURdDneqpJpkcpHRFfS9wmYrA8x69e7V

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict dgo3hLJfHxul88MrKcWb62OqCt7hQLewURdDneqpJpkcpHRFfS9wmYrA8x69e7V
\connect template1
\restrict dgo3hLJfHxul88MrKcWb62OqCt7hQLewURdDneqpJpkcpHRFfS9wmYrA8x69e7V

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict dgo3hLJfHxul88MrKcWb62OqCt7hQLewURdDneqpJpkcpHRFfS9wmYrA8x69e7V

--
-- Database "microservice3_db" dump
--

--
-- PostgreSQL database dump
--

\restrict HjOaCbS9E4RdU6Wb2ygmRa2wQ4QYEkaehSWjjaDN01GvKGSi3EkpINnNrcn3Hwt

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: microservice3_db; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE microservice3_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE microservice3_db OWNER TO postgres;

\unrestrict HjOaCbS9E4RdU6Wb2ygmRa2wQ4QYEkaehSWjjaDN01GvKGSi3EkpINnNrcn3Hwt
\connect microservice3_db
\restrict HjOaCbS9E4RdU6Wb2ygmRa2wQ4QYEkaehSWjjaDN01GvKGSi3EkpINnNrcn3Hwt

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    id bigint NOT NULL,
    description character varying(255),
    name character varying(255) NOT NULL
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.items_id_seq OWNER TO postgres;

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.items_id_seq OWNED BY public.items.id;


--
-- Name: items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items ALTER COLUMN id SET DEFAULT nextval('public.items_id_seq'::regclass);


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.items (id, description, name) FROM stdin;
1	High-performance gaming laptop	Laptop
2	Wireless ergonomic optical mouse	Mouse
3	Mechanical RGB backlit keyboard	Keyboard
4	Item Description	Item Name
5	High-performance gaming laptop	Laptop
6	Wireless ergonomic optical mouse	Mouse
7	Mechanical RGB backlit keyboard	Keyboard
8	Item Description	Item Name
9	Item Description	Item Name
10	High-performance gaming laptop	Laptop
11	Wireless ergonomic optical mouse	Mouse
12	Mechanical RGB backlit keyboard	Keyboard
13	Item Description	Item Name
14	Item Description	Item Name
\.


--
-- Name: items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.items_id_seq', 14, true);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict HjOaCbS9E4RdU6Wb2ygmRa2wQ4QYEkaehSWjjaDN01GvKGSi3EkpINnNrcn3Hwt

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict ovmHvgby1Xv9GpgJIXlzQMkq1gOI7J7lEr1iKn1ygMGoviM1pO61BRDoXQMqrjb

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\unrestrict ovmHvgby1Xv9GpgJIXlzQMkq1gOI7J7lEr1iKn1ygMGoviM1pO61BRDoXQMqrjb
\connect postgres
\restrict ovmHvgby1Xv9GpgJIXlzQMkq1gOI7J7lEr1iKn1ygMGoviM1pO61BRDoXQMqrjb

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict ovmHvgby1Xv9GpgJIXlzQMkq1gOI7J7lEr1iKn1ygMGoviM1pO61BRDoXQMqrjb

--
-- PostgreSQL database cluster dump complete
--

